
project:
  name: ev_load_fc
  seed: 42
  logging_level: 10 # 10=DEBUG, 20=INFO, 30=WARNING, 40=ERROR, 50=CRITICAL

paths:
  # Data paths
  raw_data: "datasets/01_raw"
  interim_data: "datasets/02_interim"
  processed_data: "datasets/03_processed"
  feature_store: "datasets/04_features"
  # Model paths
  exp_models: "models/experiments"
  prod_models: "models/production"
  # Other
  images: "images"
  logs: "logs"

files:
  # Original raw data
  ev_filename: "ChargePoint Data CY20Q4.csv" #"EVChargingStationUsage.csv"
  weather_filename: "WeatherEvents_Aug16_Dec20_Publish.csv"
  traffic_filename: "TrafficEvents_Aug16_Dec20_Publish.csv"
  # Interim
  ev_filt_filename: "ev_data_filt_date.csv"
  weather_filt_filename: "weather_data_filt_date_city.csv"
  temperature_filename: "temperature.csv"
  traffic_filt_filename: "traffic_data_filt_date_city.csv"
  # Processed
  ev_proc_filename: "ev_processed.csv"
  weather_proc_filename: "weather_processed.csv"
  temperature_proc_filename: "temperature_processed.csv"
  traffic_proc_filename: "traffic_processed.csv"
  combined_filename: "combined_processed.csv"

  weather_train: "weather_train.csv"
  temperature_train: "temperature_train.csv"
  traffic_train: "traffic_train.csv"
  all_train: "train.csv"
  ev_test: "ev_test.csv"
  weather_test: "weather_test.csv"
  temperature_test: "temperature_test.csv"
  traffic_test: "traffic_test.csv"
  all_test: "test.csv"
  

data:
  # Filters to restrict raw data to model set
  raw_filters:
    min_timestamp: "2017-08-01"       
    max_timestamp: "2020-03-01"         
    weather_cities:
      - "Palo Alto"
      - "Mountain View"
      - "San Carlos"
    meteostat_staions:
      - "KPAO0"
      - "74509"
      - "KSQL0"
    traffic_cities:
      - "Palo Alto"
      - "East Palo Alto"
      - "Menlo Park"
      - "Stanford"
      - "Atherton"
      - "Mountain View"
      - "Los Altos"

  preprocessing:
    ev_keep_cols:
      - "starttime"
      - "endtime"
      - "energy"
      - "charging_time"
      - "plug_type"
      - "duration_hours"
      - "charger_kw"
    weather_keep_cols:
      - "starttime"
      - "endtime"
      - "type"
      - "severity"
      - "duration"
    weather_type_filt:
      - "Rain"
      - "Fog"
      - "Storm"
    traffic_keep_cols:
      - "starttime"
      - "endtime"
      - "type"
      - "severity"
      - "distance"
      - "duration"
    traffic_type_filt:
      - "Congestion"
      - "Flow-Incident"
      - "Event"
    aggregation_period: "1h"
    plug_power_quantile_bound: 0.001
    mad_thresholds: 4 # Since load can be volatile I chose a threshold larger than the standard value of 3 
    # split_point: 0.8 
    split_date: "2019-08-01"

features:

  feature_engineering:

    target: 'energy'

    holidays:
      - "Independence Day"
      - "Thanksgiving Day"
      - "Christmas Eve"
      - "Christmas Day"
      - "Boxing Day"
      - "New Year's Day"
    combine_holidays: False

    energy_col_substrs: ['energy']
    weather_col_substrs: ['fog_dur','rain_dur','storm_dur']
    temperature_col_substrs: ['temp']
    traffic_col_substrs: ['cong_dur','cong_dis','flow_dur','flow_dis','event_dur','event_dis']
    
    time_feature_dict:
      lags: 
        energy: [1,3,6,24,168]
      rolling_sums: 
        energy: [3,6,12,24,168]
        weather: [1,3,6]
        traffic: [1,3,6]
      rolling_means: 
        energy: [3,6,12,24,168]
        temperature: [1,3,6,12]


          

    