
project:
  name: ev_load_fc
  seed: 42
  aggregation_period: "1h"

paths:
  # Data paths
  raw_data: "data/01_raw"
  interim_data: "data/02_interim"
  processed_data: "data/03_processed"
  # Model paths
  exp_models: "models/experiments"
  prod_models: "models/production"
  # Other
  images: "images"

files:
  # Original raw data
  ev_filename: "ChargePoint Data CY20Q4.csv" #"EVChargingStationUsage.csv"
  weather_filename: "WeatherEvents_Aug16_Dec20_Publish.csv"
  traffic_filename: "TrafficEvents_Aug16_Dec20_Publish.csv"
  # Interim
  ev_filt_filename: "ev_data_filt_date.csv"
  weather_filt_filename: "weather_data_filt_date_city.csv"
  traffic_filt_filename: "traffic_data_filt_date_city.csv"
  # Processed
  ev_processed_filename: "ev_data_cfs.csv"
  weather_processed_filename: "weather_data_cfs.csv"
  traffic_processed_filename: "traffic_data_cfs.csv"

preprocessing:
  # Filters to restrict raw data to model set
  raw_filters:
    min_timestamp: "2017-08-01"         
    max_timestamp: "2020-03-01"         
    weather_cities:
      - "Palo Alto"
      - "Mountain View"
      - "San Carlos"
    meteostat_staions:
      - "KPAO0"
      - "74509"
      - "KSQL0"
    traffic_cities:
      - "Palo Alto"
      - "East Palo Alto"
      - "Menlo Park"
      - "Stanford"
      - "Atherton"
      - "Mountain View"
      - "Los Altos"

  cleaning:
    min_charger_kw: 1
    max_charger_kw: 8
    mad_thresholds: 4 # Since load can be volatile I chose a threshold larger than the standard value of 3 

    